@tailwind base;
@tailwind components;
@tailwind utilities;


html[dir="rtl"] body {
  direction: rtl !important;
  text-align: right !important;
}

html[dir="ltr"] body {
  direction: ltr !important;
  text-align: left !important;
}


html[dir="rtl"] * {
  direction: rtl !important;
  text-align: right !important;
}

html[dir="ltr"] * {
  direction: ltr !important;
  text-align: left !important;
}